	/* MOBILE FIRST */
	/* OS CSS PARA DESKTOP ESTAVAO NA QUERY MEDIA > 768px

    /* GLOBAIS */ 
    html, body {
    background-color: #e9e9e9;
    color: #666666;
    font-family: 'Abel', sans-serif;
    font-weight: 100;
    margin: 0;
    margin-top: 0;
    
    }

    a {
    	
    	text-decoration: none;

    }

    .uppercase {

    	text-transform: uppercase;

    }


    .links_icones {

    	color : #fff;
    	text-decoration: none;

    }

    .links_icones:hover {
    	
    	color: #fff;
		text-decoration: none;

    }

    .links_icones:visited {

    	color: #fff;
		text-decoration: none;

    }

    .full-height {
    	height: 100vh;
	}	

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}


    .flex-center {
     	align-items: center;
    	display: flex;
    	justify-content: center;
	}

	.btn_menu {
		position: absolute;
		left: 10px;
		top: 10px;
		z-index: 999;
		color: #fff;
	}

	.center_obj {
		align-items: center;
  		display: flex;
  		flex-direction: row;
  		flex-wrap: wrap;
  		justify-content: center;
	}

	.container_painel {
	
	    position: absolute;
	   	height: 100%;
	    width: 100%;
	    color: #fff;

	}

	.container_listagem {
	
		position: relative;
		color: #666;
		top: 80px;
		font-size: 18px;
		width: 100%;
	}

	.form-group-style {

		background-color: #ddd;
	    border: 1px solid #ccc;
	    border-radius: 5px;
	    padding: 10px;
	    margin: 0px 10px 10px 10px;
	    border-bottom: 3px solid #ccc;
		

	}


	.listagem {
		
		font-size: 18px;

	}


	.top_bar {

	    position: absolute;
	    height: 50px;
	    width: 100%;
	    background-color: #265A88;
	    border-width: 0px 0px 3px;
	    border-color: #1e496f;
	    border-style: solid;

	}


	h1 {
		
		position: relative;
		top: -5px;

	}

	.inputs_form {
		
		height: 50px;
		font-size: 18px;
		
	}

	.inputs_texto {

		width: 450px;

	}

	.texto_comum {
			
		font-size: 12px;

	}

	.container_botoes {
		position: relative;
		width: 100%;
		top: 200px;
		height: 250px;
		z-index: 9999;
		text-align: center;
	}

	.btn_painel {
	    
	    position: relative;
	    display: inline-block;
	    width: 100px;
	    height: 100px;
	    border: 1px solid #000;
	    margin: 10px;
	    color: #fff;
	    background-color: #265A88;
	    border-width: 0px 0px 3px;
	    border-color: #1e496f;
	    border-style: solid;
		border-radius: 5px;
		font-size: 16px;
	}

	.btn_painel i {
	
		position: relative;
		top: 15px;
	}
	.btn_painel p {
	
		position: relative;
		top: 20px;
	}



	.botton_bar {
		
		position: absolute;
		bottom: 0px;
		width: 100%;
	    height: 40px;
	    background-color: #265A88;
	    border-width: 3px 0px 0px;
	    border-color: #1e496f;
	    border-style: solid;
	    color: #fff;

	}


	.titulo-gbox {
		font-size: 18px;
		font-weight: bold;
	}


	.invisivel {

		display: none;

	}


	/* DESKTOP */
	/* PARA devices MAIORES QUE 768*/
	@media all and (min-width: 768px) {

		.listagem {
	     /* font-size: 16px; */
		}

	
		
  	}	

 	